/*******************************
 * Page-specific styles should *
 *      go into page.css       *
 *******************************/


/********************
 * FIXED NAV STYLES *
 ********************/
#fixed-navigation {
    background-color: #17667a;
    padding: 12px 0 8px 5%;
    -webkit-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
    -moz-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
    box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
    position: relative;
    z-index: 2;
}
nav {
    width: 100%;
    max-width: 1080px;
    height: 49px;
    overflow: hidden;
    display: inline-block;
}
#hamburger {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #fdf6e3;
    width: 43px;
    position: relative;
    top: 2px;
}
#hamburger img {
    width: 25px;
    padding: 8px 9px 5px 9px;
}
nav h1 {
    font-family: -apple-system, 'Helvetica Neue', Arial, sans-serif;
    color: #fdf6e3;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    margin: 0 0 0 15px;
    /* position: relative;
    top: -6px; */
}

/***************
 * MAIN STYLES *
 ***************/
body {
    -webkit-text-size-adjust: 100%;
    background-color: #fdf6e3;
}
#main a {
    color: #b58900;
}
#main {
    background: transparent;
    padding: 20px 5% 88px 5%;
    font-family: "PT Serif";
    font-size: 16px;
    color: #657b83;
}

/***************
 * MENU STYLES *
 ***************/
[off-canvas] {
    background-color: #002b36;
    z-index: 3;
}
.menu-links {
    display: block;
    border-bottom: 1px solid #586e75;
    padding: 16px 10px 20px 10px;
    font-family: -apple-system, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #fdf6e3;
    text-decoration: none;
}
a.menu-links:nth-of-type(1) {
    border-top: 1px solid #586e75;
}
.menu-links img {
    width: 18px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}
#menu h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 4px 0;
    margin: 0;
    border-bottom: none;
}
#menu input {
    box-sizing: border-box;
    width: 80%;
    margin: 10px 10% 10px 10%;
}
#current-link {
    background-color: #073640;
}
