#table-outer {
    margin-top: 5px;
}
#main input, #table-outer table, #table-outer {
    margin-right: 2%;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
}
#artist-check, .album-name span, .album-category span {
    font-size: 12px;
    display: block;
}
#artist-check {
    margin-bottom: 10px;
}
.album td:not(.delete) input {
    box-sizing: border-box;
    min-width: 145px;
}
#main #submit {
    margin-top: 15px;
    max-width: 75px;
    margin-right: 10px;
}

/* colors */
.error, #after-submit {
    color: #dc322f;
}
.warn {
    color: #b58900;
}
.good {
    color: #859900;
}
