#table-outer {
    margin-top: 5px;
}
#main input, #table-outer table, #table-outer {
    margin-right: 2%;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
}
#artist-check, .album-name span, .album-category span, td br {
    font-size: 12px;
    display: block;
}
#artist-check {
    margin-bottom: 10px;
}
.album .album-name input {
    box-sizing: border-box;
    min-width: 145px;
}
#main #submit {
    margin-top: 15px;
    max-width: 75px;
    margin-right: 10px;
}
#table-outer #add-row {
    margin-top: 5px;
    max-width: 75px;
}

/* colors */
.error {
    color: #dc322f;
}
.warn {
    color: #b58900;
}
.good {
    color: #859900;
}
