<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/Slidebars/dev/slidebars.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/master.css">
    <title>Catalog</title>
</head>
<body>
    <div id="fixed-navigation" canvas="">
        <nav>
            <a id="hamburger" href="">
                <img src="../assets/img/list.png" alt="hamburger menu icon">
            </a>
            <h1>View Catalog</h1>
        </nav>
    </div>

    <div id="main" canvas="container">
        main container - view
        <p id="test"></p>
    </div>

    <div id="menu" off-canvas="menu left push">
        <h1 class="menu-links">Catalog</h1>
        <input type="text" placeholder="search the catalog">

        <a href="../" class="menu-links">
            <img src="../assets/img/home.png" alt="house">Dashboard
        </a>
        <a href="" class="menu-links" id="current">
            <img src="../assets/img/search.png" alt="magnifying glass">View Catalog
        </a>
        <a href="../add/" class="menu-links">
            <img src="../assets/img/plus.png" alt="plus sign">Add Entries
        </a>
        <a href="../edit/" class="menu-links">
            <img src="../assets/img/pencil.png" alt="pencil">Edit Entries
        </a>
        <a href="../delete/" class="menu-links">
            <img src="../assets/img/line.png" alt="minus sign">Delete Entries
        </a>
        <a href="../settings/" class="menu-links">
            <img src="../assets/img/cog.png" alt="gear">Settings
        </a>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/Slidebars/dev/slidebars.js"></script>
    <script src="../assets/js/jquery.color-2.1.2.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>
