<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|PT+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/slidebars.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/master.css">
    <link rel="stylesheet" type="text/css" href="page.css">
    <title>Catalog</title>
</head>
<body>
    <div id="fixed-navigation" canvas="">
        <nav>
            <a id="hamburger" href="">
                <img src="../assets/img/list.png" alt="hamburger menu icon">
            </a>
            <h1>View Catalog</h1>
        </nav>
    </div>

    <div id="main" canvas="container">
        <div id="search">
            <input type="search" placeholder="search for an artist or an album" id="bar">
            <input type="submit" value="Go" id="search-submit">
        </div>
        <p id="table-options">
            Showing
            <select id="showing">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            artists out of <span id="total-artists">--</span>
        </p>
        <div id="table-outer">
            <table>
                <thead>
                    <tr>
                        <td>Artist</td>
                        <td>Album</td>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody id="TABLE">

                <tr>
                    <td>Anita Ward</td>
                    <td>Ring My Bell</td>
                    <td>ring</td>
                </tr>
                <tr>
                    <td>Anonymous 4</td>
                    <td>Love's Illusion</td>
                    <td>loves</td>
                </tr>
                <tr>
                    <td>Carpenters</td>
                    <td>Classics Volume 2</td>
                    <td>classics</td>
                </tr><tr><td>”</td><td>Loveliness</td><td>loveliness</td></tr><tr><td>Donovan</td><td>Donovan's Greatest Hits</td><td>??</td></tr><tr><td>Kate Bush</td><td>Aspects of the Sensual World</td><td>??</td></tr><tr><td>Natalie Cole</td><td>Unforgettable... with Love</td><td>??</td></tr><tr><td>Que</td><td>Using the Internet</td><td>??</td></tr><tr><td>Return to Forever</td><td>Where Have I Known You Before</td><td>??</td></tr><tr><td>Santana</td><td>Caravanserai</td><td>??</td></tr><tr><td>”</td><td>Viva Santana!</td><td>??</td></tr><tr><td>Sarah McLachlan</td><td>Afterglow</td><td>??</td></tr><tr><td>”</td><td>Fumbling Towards Ecstasy</td><td>??</td></tr><tr><td>”</td><td>Possession</td><td>??</td></tr><tr><td>”</td><td>Steaming</td><td>??</td></tr><tr><td>”</td><td>Surfacing Touch</td><td>??</td></tr><tr><td>”</td><td>The Freedom Session</td><td>??</td></tr></tbody>
            </table>
        </div>
        <p id="test"></p>
    </div>

    <div id="menu" off-canvas="menu left push">
        <h1 class="menu-links">Catalog</h1>
        <input type="search" placeholder="search the catalog">

        <a href="../" class="menu-links">
            <img src="../assets/img/home.png" alt="house">Dashboard
        </a>
        <a href="" class="menu-links" id="current">
            <img src="../assets/img/search.png" alt="magnifying glass">View Catalog
        </a>
        <a href="../add/" class="menu-links">
            <img src="../assets/img/plus.png" alt="plus sign">Add Entries
        </a>
        <a href="../edit/" class="menu-links">
            <img src="../assets/img/pencil.png" alt="pencil">Edit Entries
        </a>
        <a href="../delete/" class="menu-links">
            <img src="../assets/img/line.png" alt="minus sign">Delete Entries
        </a>
        <a href="../settings/" class="menu-links">
            <img src="../assets/img/cog.png" alt="gear">Settings
        </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="../assets/js/jquery.color-2.1.2.min.js"></script>
    <script src="../assets/js/slidebars.js"></script>
    <script src="../assets/js/main.js"></script>
    <!-- <script src="app.js"></script> -->
</body>
</html>
