#search {
    width: 100%;
    max-width: 400px;
}
#bar {
    box-sizing: border-box;
    width: 83%;
    margin-right: 2%;
}
#search-submit {
    box-sizing: border-box;
    width: 13%;
}
#table-outer {
    overflow-x: scroll;
}
#table-outer table {
    background-color: #eee8d5;
    padding: 7px;
}
#table-outer table thead {
    font-weight: bold;
    color: #586e75;
}
#table-outer table thead tr td {
    padding-bottom: 10px;
}
#TABLE tr td {
    white-space: nowrap;
    padding: 0 20px 5px 0
}
